body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #434455;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #434455;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo:hover {
    color: #404bbf;
}
.logo:focus{
    color: #404bbf;
}
.logo-header-studio {
    color: #2e2f42;
}
.logo-footer-studio { 
    color: #f4f4fd;
}
.logo-web {
    color: #4d5ae5;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}
.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-nav-link:hover {
    color: #404bbf;
}
.header-nav-link:focus {
    color: #404bbf;
}
.nav-contacts {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-link-contacts:hover {
    color: #404bbf;
}
.nav-link-contacts:focus {
    color: #404bbf;
}
.title{
    background-color: #2E2F42;
}
.title-header {
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07; 
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}
.title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
    background-color: #4D5AE5;
    cursor: pointer;
}
.title-button:hover {
    background-color: #404BBF;
}
.title-button:focus{
    background-color: #404BBF;
}
.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-section {
    background: #f4f4fd;
}
.team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
     text-transform: capitalize;
}
.team-list {
    background-color: #FFFFFF;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-text {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio {
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.footer {
    background-color: #2E2F42;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.footer-text {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    color: #f4f4fd;
}